:root {
  --splash: url('../images/sites/barbernook/splash.jpg');
  --logo: url('../images/sites/barbernook/barbernook.png');    
  --primary-color: #c19662;
  --primary-rgba-color: 193, 150, 98;
  --secondary-color: #1f2123;
  --secondary-rgba-color: 31, 33, 35;  
  --accent-color: #e9a056;
  --danger-color: #12857E;  
  --white-color: #FFFFFF; 
  --dark-color: #0d2a2f;
  --dark-rgba-color: 13, 42, 47;    
  --grey-color: #e1e1e1;  
}