:root {
  --splash: url('../images/sites/plumbernook/splash.jpg');
  --logo: url('../images/sites/plumber/plumbernook.png');
  --primary-color: #e5c035;
  --primary-rgba-color: 229, 192, 53;
  --secondary-color: #3C4043;
  --secondary-rgba-color: 60, 64, 67;   
  --accent-color: #38603C;
  --danger-color: #12857E;
  --white-color: #FFFFFF; 
  --dark-color: #0d2a2f;
  --dark-rgba-color: 13, 42, 47;    
  --grey-color: #e1e1e1;  
}